.navbar {
    background: #d60000;
}

.navbar:hover {
    color: #ffffff;
}

body {
    background: #ffffff;
    color: #111111;
}

a {
    color: #d60000;
}

.btn-primary {
    background-color: #d60000;
    border-color: #d60000;
}

.btn-primary:hover {
    background-color: #b00000;
    border-color: #b00000;
}
